<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql映射文件，作用是将java类与数据库的表通过SQL映射文件关联起来 -->

<mapper namespace="com.pz.mapper.StationsMapper">
	<!-- 增加站点 -->
	<insert id="insertStation" parameterType="com.pz.bean.Stations">
		insert into stations values(seq_sid.nextval,#{sname})
	</insert>
	
	<!-- 修改站点信息 -->
	<update id="updateStation" parameterType="com.pz.bean.Stations">
		update stations set sname=#{sname} where sid=#{sid}
	</update>
	
	<!-- 删除站点 -->
	<delete id="deleteStation" parameterType="com.pz.bean.Stations">
		delete stations where sid=#{sid}
	</delete>
	
	<!-- 查询站点信息 -->
	<select id="selectStations" parameterType="com.pz.bean.Stations" resultType="com.pz.bean.Stations">
		select * from(select rownum rm,a.* from 
		(select * from stations where 1=1
		<if test="sid!=0">
			and sid=#{sid}
		</if>
		<if test="sname!=null">
			and sname like #{sname}
		</if>
		)a order by rm)where rm between (#{pageNum}-1)*#{pageSize}+1 and #{pageNum}*#{pageSize}
	</select>
</mapper>